/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  .navbar-nav {
    align-self: flex-end;
  }
}

.nav-active {
  color: #C62E3E;
  border-bottom: 2px solid #C62E3E;
}

.logo {
  max-width: 300px;
  object-fit: contain;
}